%flex{
    display: flex;
    flex-wrap: nowrap;
}

.flex{
    @extend %flex;
}

.flex-col {
    @extend %flex;
    flex-direction: column
}

.f-center, .d-center{
    @extend %flex;
    justify-content: center;
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.justify-around{
    justify-content: space-around;
}

.justify-end{
    justify-content: flex-end;
}

.justify-between{
    justify-content: space-between;
}

.align-end {
    align-items: flex-end;
}

.align-center {
    align-items: center;
}

.grow{
    flex-grow: 1;
}