%flex{
    display: flex;
    flex-wrap: nowrap;
}

.flex{
    @extend %flex;
}

.flex-col {
    @extend %flex;
    flex-direction: column
}

.d-center{
    @extend %flex;
    justify-content: center;
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.justify-around{
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.grow{
    flex-grow: 1;
}