@use "mixins" as *;
@use "breakpoints" as b;

@mixin containerized-grid($cols) {
    display: grid;
    grid-template-columns: repeat($cols, 1fr);
}

$columns: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12);

@each $c in $columns {
    .grid-#{$c} {
        @include containerized-grid($c);

        .span-#{$c} {
            grid-column: span $c;
        }
    }

    @include media-down(sm) {
        .grid-#{$c} {
            display: grid;
        }
    }
}

@each $c in $columns {
    @each $bp, $lim in b.$bp {
        @include media-up($bp) {
            .grid-#{$bp}-#{$c} {
                @include containerized-grid($c);
            }
        }

        @include media-down($bp) {
            .grid-#{$bp}-#{$c} {
                display: grid;
            }
        }

        @include media-only($bp) {
            .span-#{$bp}-#{$c} {
                grid-column: span $c;
            }
        }
    }
}
