@mixin containerized-grid($cols) {
    // $w: calc(100% / $cols);
    // width: 100%;
    display: grid;
    grid-template-columns: repeat($cols, 1fr);
}

$columns: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12);

@each $c in $columns {
    .cntr-#{$c} {
        height: auto;
        @include containerized-grid($c);
    }
}